body {
  background-color: #FFFBFA;
  font-family: 'Inter', sans-serif;
}
header {
  color: #59C9A5;
  text-align: center;
  font-size: 28px;
  margin-top: 80px;
  text-shadow: 0px 4px 4px #00000025;

}
.header-part-1 {
  margin-right: 130px;
  text-transform: uppercase;
  font-weight: 300;
}
.header-part-2 {
  margin-left: 130px;
  font-weight: 200;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.input-style {
  background-color: #59C9A5;
  border: none;
  width: 40%;
  padding: 10px 10px 10px 20px;
  border-radius: 10px 0px 0px 80px;
  color: #FFFBFA;
  font-size: 20px;
}
::placeholder {
  opacity: 0.5;
  color: #FFFBFA;
}
button {
  border-radius: 0px 80px 10px 0px;
    background-color: #59C9A5;
    border: none;
    width: 50px;
}
.icon {
  width: 25px;
  margin-right: 15px;
}
.main-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.data-container {
  border: 5px solid #59C9A5;
  padding: 10px 30px 10px 30px;
  width: 400px;
}
.data-title {
  font-weight: 200;
  text-align: center;

}
hr {
  border: 2px solid ;
}